<?xml version="1.0" encoding="UTF-8"?>
<!--约束文件 -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--该映射文件对应的接口 -->
<mapper namespace="com.qfedu.dao.UserMapper">

    <select id="queryByName" resultType="com.qfedu.domain.User">
		select * from t_user where username = #{username};
	</select>
    <insert id="insert" parameterType="com.qfedu.domain.User">
		insert into t_user (username, password,sex,role)
		values (#{username},#{password},#{sex},1);
	</insert>
</mapper>